body{
  margin: 0px;
  padding: 0px;
}

.box {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw; 
  background-size: 104%;
  background-position: center; 
  text-align: center;
  line-height: 400px;
  background-image: url('login/9.jpg');
  background-repeat: no-repeat;
  font-size: 250%;
  font-family: 'Open Sans';

}
.panel{

  border: 0px;
  background: rgba(0,0,0,0.5) !important;
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
  position: relative;
  transition: 1s;
}
.margin_class{
  margin-top: 100px;
}
h4{
  margin: 0;
  padding: 0;
  color: #F9DF05;
}
.lock{
  position: absolute;
  top: -50px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  left: 37%;
  background: linear-gradient(DarkSlateGray,Cyan);
  background: -webkit-linear-gradient(DarkSlateGray,Cyan);
  background: -moz-linear-gradient(DarkSlateGray,Cyan);
  border: 3px outset #F4E10A;
  border-radius: 100%;
  color: #ffffff;
  box-shadow: -10px 10px 10px rgba(255,255,255,0.5);
}
.panel:hover{
  background: rgba(0,0,0,0.7) !important;
}
